@charset "UTF-8";
.topcontent>p{
	font-family: 'Montserrat Subrayada', sans-serif;
}
.searchtag{
    text-align: center;
    border-radius: 23px 0 0 23px;
    width: 300px;
    position: relative;
    top: 24px;
    color: #000;
    border-style: solid;
    transition: 0.4s;	
}

.searchtag:hover{
	text-align: center;
    height: 40px;
    width: 400px;
}
.searchbtn{
	border: 2px solid black;
    position: relative;
    top: 22px;
    left: -6px;
    font-size: 10pt;
    height: 40px;
    width: 50px;
    color: #fff;
    background-color: #6f8bce;
    border-radius: 0 23px 23px 0;
}
.topcontent{
	max-height: 120px;
	text-align: center;
}
.myinfo>img{
	style="border-radius: 52px;
	max-width: 100px;
}
.subtopcontent{
	text-align:center;
	height:50px;
	border: 1px solid black;
}
.myinfo{
	margin:0;
}
.myinfolist{
	height: 40px;
}
.myinfolistid{
	font-size: 20px;
}
.myinfolist>span{
	display: inline-block;
    width: 50px;
}
.vertical { 
    display: inline-block;
    border-left: 1px solid #DBDBDB;
    height: 47px;
    top: 6px;
    position: absolute; 
}
.toplogout{
	text-align: right;
}
 a:link {
	 color: #4c6ebd;
     text-decoration: none;
}
 a:visited {     
    color: #4c6ebd;
    text-decoration: none;
}
 a:hover {
    color: #4c6ebd;
    text-decoration: none
}
.conpre>pre>a{
	text-decoration: none;
	font-weight: normal;
}
